<!DOCTYPE html>

<html>
    {{> header}}
    <body>
        <a href="/portfolio">Portfolio</a>
        <h1>{{homeTitle}}</h1>
        <h2>{{getCurrentYear}}</h2>
        <h2>{{screamIT "welcome"}}</h2>
    {{> footer}}
    </body>
</html>