<!DOCTYPE html>

<html>
    {{> header}}
    <body>
        <h1>{{pageTitle}}</h1>
        <h2>Some text</h2>
        <a href="/">Home</a>
        <a href="/about">Home</a>
    {{> footer}}
    </body>
</html>